.tecnologias {
  box-shadow: inset 0rem 7rem #ffffff, inset 0rem -7rem #ffffff;
}
.conteiner-tec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0 auto;
  padding: 4rem 1.25rem;
}
.text-content {
  align-self: center;
}
.tec-vantagens {
  display: flex;
  gap: 40px;
}
.tec-vantagens h3 {
  margin-bottom: 8px;
  width: max-content;
}
.tec-vantagens img {
  width: 24px;
  margin-bottom: 8px;
}
.descricao h2 {
  margin-bottom: 32px;
}
.descricao p {
  margin-bottom: 20px;
}
.descricao a {
  display: inline-block;
  margin-bottom: 80px;
  font: 500 1.5rem/1.5rem "Poppins", sans-serif;
  transition: 0.2s ease-in-out;
}
.descricao a:hover {
  color: #ffffff;
}
.descricao a::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}
.descricao > span {
  display: block;
  margin-bottom: 20px;
}
.imagem-tec img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}
@media (max-width: 1150px) {
  .tecnologias {
    box-shadow: none;
  }
}
@media (max-width: 800px) {
  .tecnologias {
    box-shadow: inset 0rem -7rem #ffffff;
  }
  .conteiner-tec {
    grid-template-columns: 1fr;
  }
  .tec-vantagens {
    flex-direction: column;
  }
  .imagem-tec img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: start;
  }
  .descricao {
    text-align: center;
  }
  .descricao a {
    margin-bottom: 60px;
  }
  .descricao h2 {
    margin-bottom: 32px;
    font-size: 2.5rem;
    line-height: 2rem;
  }
}
@media (max-width: 500px) {
  .tecnologias {
    box-shadow: none;
  }
  .descricao > span {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .descricao h2 {
    margin-bottom: 32px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .descricao p {
    margin-bottom: 20px;
    font-size: 1rem;
  }
  .descricao a {
    width: max-content;
    font-size: 1.2rem;
  }
  .imagem-tec img {
    display: none;
  }
}
