.header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.header-menu {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.header-links {
  display: inline-block;
  padding: 1rem 0.6rem;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  position: relative;
}
.header-links::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #ffffff;
  width: 0%;
  margin-top: 4px;
  transition: 0.2s ease-in-out;
  position: absolute;
}
.header-links:hover::after {
  width: 80%;
}
.ativo::after{
  width: 80%;
}

@media (max-width: 50rem) {
  .header-links {
    background-color: #111111;
    transition: 0.3s ease-in-out;
  }
  .header-links:hover {
    background-color: #2e2e2e;
  }
  .header-links::after {
    display: none;
  }
  .header-menu {
    gap: 1rem;
  }
}
/*@media (max-width: 37.5rem) {
  .header-menu {
    display: none;
  }
}
