/*Intro Home*/
.intro {
  box-shadow: inset 0rem -7.5rem #ffffff;
  background-color: #000000;
}
.intro-conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0rem 1.25rem;
  gap: 0 5.5rem;
}
.text-content {
  align-self: end;
  padding-bottom: 12.5rem;
}
.text-content h1 {
  margin-bottom: 2rem;
}
.text-content p {
  margin-bottom: 1.25rem;
}
.ponto {
  font-family: "Trebuchet MS", sans-serif;
}
.btn-bicicletas {
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 5px;
  padding: 1rem 2rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.btn-bicicletas:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
.img-intro img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
@media (max-width: 75rem) {
  .intro {
    box-shadow: inset 0rem -4rem #ffffff;
  }
  .intro-conteiner {
    padding-top: 2.5rem;
  }
  .text-content {
    padding-bottom: 10rem;
  }
  .text-content h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .text-content p {
    font-size: 2rem;
    max-width: 31.25rem;
  }
}
@media (max-width: 53.75rem) {
  .intro {
    box-shadow: inset 0rem -3rem #ffffff;
    background-color: #111111;
  }
  .intro-conteiner {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-top: 2.5rem;
  }
  .text-content {
    padding-bottom: 0rem;
    justify-self: center;
    text-align: center;
  }
  .text-content h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .text-content p {
    font-size: 1rem;
    line-height: 1rem;
  }
  .img-intro img {
    height: 18.75rem;
    width: 100%;
  }
  .btn-bicicletas {
    font-size: 0.875rem;
    padding: 0.3125rem 0.625rem;
  }
}
