/*RESETS*/
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/*UTILITARIOS*/
/*CORES*/

.c12 {
  color: #000000;
}
.c12-b {
  background-color: #000000;
}
.c11 {
  color: #111111;
}
.c11-b {
  background-color: #111111;
}
.c10 {
  color: #2e2e2e;
}
.c10-b {
  background-color: #2e2e2e;
}
.c9 {
  color: #404040;
}
.c9-b {
  background-color: #404040;
}
.c8 {
  color: #595959;
}
.c8-b {
  background-color: #595959;
}
.c7 {
  color: #717171;
}
.c7-b {
  background-color: #717171;
}
.c6 {
  color: #9c9c9c;
}
.c6-b {
  background-color: #9c9c9c;
}
.c5 {
  color: #b2b2b2;
}
.c5-b {
  background-color: #b2b2b2;
}
.c4 {
  color: #cccccc;
}
.c4-b {
  background-color: #cccccc;
}
.c3 {
  color: #dedede;
}
.c3-b {
  background-color: #dedede;
}
.c2 {
  color: #ededed;
}
.c2-b {
  background-color: #ededed;
}
.c1 {
  color: #f7f7f7;
}
.c1-b {
  background-color: #f7f7f7;
}
.w {
  color: #ffffff;
}
.w-b {
  background-color: #ffffff;
}
/*paragrafos*/
.p5 {
  color: #332200;
}
.p4 {
  color: #664400;
}
.p3 {
  color: #a66f00;
}
.p2 {
  color: #e4a30b;
}
.p1 {
  color: #ffbb00;
}
/*fontes tamanhos e distancia*/
.font-1-xxl {
  font: 600 4rem/4.5rem "Poppins", sans-serif;
}
.font-2-l {
  font: 400 1.5rem/2.25rem "Roboto", sans-serif;
}
.font-1-m-b {
  font: 600 1.125rem/1.5rem "Poppins", sans-serif;
}
.font-2-m {
  font: 500 1.125rem/1.5rem "Roboto", sans-serif;
}
/*Conteiner tamanho*/
.conteiner-base {
  max-width: 75rem;
  margin: 0 auto;
}
