.body {
  background: linear-gradient(#111111 650px, #f7f7f7 0px);
}
.conteiner-contatos {
  padding: 4rem 1.25rem 0rem 1.25rem;
}
.contato-grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding: 4rem 1.25rem 4rem 1.25rem;
}
.info-contatos,
.formulario {
  padding: 60px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
}
.info-contatos {
  background-color: #000000;
  border-radius: 5px 0px 0px 5px;
}
.info-contatos h2 {
  margin-bottom: 60px;
}
.contato-endereco {
  margin-bottom: 32px;
  background: url("../img/icones/local.svg") no-repeat 0px 1px;
  padding-left: 28px;
}
.contato-endereco p {
  margin-bottom: 8px;
}
.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
  background: url("../img/icones/email.svg") no-repeat 0px 1px;
}
.contato-meios a:nth-child(2) {
  margin-bottom: 32px;
  background: none;
}
.contato-meios a:nth-child(3) {
  background: url("../img/icones/telefone.svg") no-repeat 0px 1px;
  margin-bottom: 60px;
}
.contato-meios a:hover {
  color: #ffffff;
}
.social-contato {
  display: flex;
  gap: 30px;
  padding-left: 28px;
}
.formulario {
  background-color: #ffffff;
  border-radius: 0px 5px 5px 0px;
}
.btn-enviar {
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 100%;
}
.btn-enviar:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
@media (max-width: 800px) {
  .contato-grid {
    grid-template-columns: 1fr;
    padding: 2rem 5px 0rem 5px;
  }
  .info-contatos,
  .formulario {
    padding: 1.25rem;
  }
  .info-contatos {
    border-radius: 5px 5px 0px 0px;
  }
  .info-contatos h2,
  .contato-meios a:nth-child(3) {
    margin-bottom: 32px;
  }
  .formulario {
    border-radius: 0px 0px 5px 5px;
  }
  .social-contato {
    margin-bottom: 32px;
  }
  .btn-enviar {
    justify-self: center;
    font-size: 14px;
  }
}

/*lojas-endereço*/
.lojas {
  padding: 4rem 1.25rem 4rem 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.lojas h2 {
  grid-column: 1 / -1;
  margin-bottom: 60px;
}
.loja img {
  border-radius: 4px 4px 0px 0px;
}
.loja-card {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.1);
}
.lojas-conteudos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 16px;
  padding: 32px;
}
.lojas-conteudos h3,
.atendimento {
  grid-column: 1 /-1;
}
.lojas-dados {
  display: grid;
  gap: 8px;
  border-left: 2px solid #ededed;
  padding-left: 12px;
}
.atendimento {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 800px) {
  .lojas {
    grid-template-columns: 1fr;
    gap: 20px 0px;
    padding: 2rem 1.25rem 4rem 1.25rem;
  }
  .lojas h2 {
    margin-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .lojas-conteudos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .lojas h2 {
    font-size: 2rem;
  }
  .lojas-conteudos h3 {
    font-size: 1.3rem;
  }
  .atendimento {
    font-size: 15px;
  }
  .lojas-dados p {
    font-size: 15px;
  }
}
