/*seguros*/
.seguros-page {
  padding: 0rem 1.25rem 3rem 1.25rem;
}
.conteiner-seguros-page {
  padding: 7.5rem 1.25rem;
}
.titulo-seguro {
  margin-bottom: 92px;
}
.texto-perguntas p {
  display: block;
}

/*vantagens*/
.lista-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media (max-width: 800px) {
  .lista-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 520px) {
  .lista-cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .titulo-seguro {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .conteiner-seguros-page {
    padding-top: 1rem;
  }
}

/*perguntas frequnetes*/
.perguntas {
  padding: 7.5rem 1.25rem;
}
.titulo-perguntas {
  margin-bottom: 100px;
}
.texto-perguntas:nth-child(odd) {
  background-color: #f7f7f7;
}
.texto-perguntas {
  padding: 20px;
  border-radius: 4px;
}
.texto-perguntas dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
  display: none;
}
.texto-perguntas dd.ativa {
  display: block;
}
.texto-perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
}
.texto-perguntas button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: #ffbb00;
}
.texto-perguntas button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("../../img/icones/seta-abrir.svg");
  transition: 0.3s;
}
.texto-perguntas button:hover::after,
.texto-perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
@media (max-width: 400px) {
  .titulo-perguntas {
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 20px;
  }
  .perguntas {
    padding: 2rem 1.25rem;
  }
}
